<aside class="main-sidebar custom-sidebar sidebar-dark-primary elevation-4">
	<a [routerLink]="['/']" class="brand-link">
		<img src="../../../assets/img/logo.png" alt="Classified App" class="logo-image" />
		<span class="brand-text font-weight-light"></span>
	</a>
	<div class="sidebar">
		<div class="user-panel mt-3 pb-3 mb-3 d-flex" style="cursor: pointer;" [routerLink]="['/admin/profile']">
			<div class="image">
				<!-- <img src="../../assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> -->
				<img *ngIf="this.img" class="img-circle elevation-2" alt="User Image" [src]="this.img" id="img"
					>
				<img *ngIf="!this.img" class="img-circle elevation-2" alt="User Image" id="img"
					src="../../../assets/img/user2-160x160.jpg">
			</div>
			<div class="info">
				<a class="d-block">{{this.userName}}</a>
			</div>
		</div>
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item">
					<a [routerLinkActive]="['active']" [routerLink]="['/admin/dashboard']" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>Dashboard</p>
					</a>
				</li>
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-file-signature"></i>
						<p>Manage Commercial Ads<i class="right fas fa-angle-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/listPost']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Manage Post</p>
							</a>
						</li>
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/createPost']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Add Post</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item has-treeview">
					<a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin/UserlistPost']">
						<i class="nav-icon fas fa-image"></i>
						<p>Manage User Ads</p>
					</a>
				</li>
				<li class="nav-item has-treeview" *ngIf="this.role =='Super Admin'">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-tasks"></i>
						<p>Post Form<i class="right fas fa-angle-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/listForm']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Manage Form</p>
							</a>
						</li>
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/createForm']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Add Form</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item has-treeview" *ngIf="this.role =='Super Admin'">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-boxes"></i>
						<p>Category<i class="right fas fa-angle-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/managecategory']"
								class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Manage category</p>
							</a>
						</li>
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/addcategory','0','0']"
								class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Add Category</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item has-treeview" *ngIf="this.role =='Super Admin'">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-network-wired"></i>
						<p>Plans<i class="right fas fa-angle-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/listPlan']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Manage Plan</p>
							</a>
						</li>
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/createPlan']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Add Plan</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item has-treeview" *ngIf="this.role =='Super Admin'">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-paste"></i>
						<p>Tickets<i class="right fas fa-angle-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/listTicket']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Manage Ticket</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item has-treeview" *ngIf="this.role =='Super Admin'">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-list"></i>
						<p>Reports<i class="right fas fa-angle-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/userReport']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>User</p>
							</a>
						</li>
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/postReport']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Post</p>
							</a>
						</li>
						<li class="nav-item  has-treeview">
							<a href="#" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Payment<i class="right fas fa-angle-right"></i></p>
							</a>
							<ul class="nav nav-treeview" id="left-head">
								<li class="nav-item">
									<a [routerLinkActive]="['active']" [routerLink]="['/admin/deduction']"
										class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Post Deduction Report</p>
									</a>
								</li>
								<li class="nav-item">
									<a [routerLinkActive]="['active']" [routerLink]="['/admin/transaction']"
										class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Payment Transaction Report</p>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-user"></i>
						<p>Users<i class="right fas fa-angle-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/listUser']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Manage User</p>
							</a>
						</li>
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/createUser']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Add User</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item has-treeview" *ngIf="this.role =='Super Admin'">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-user"></i>
						<p>Staff<i class="right fas fa-angle-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/managestaff']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Manage Staff</p>
							</a>
						</li>
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/addstaff']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Add Staff</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item has-treeview" *ngIf="this.role =='Super Admin'">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-tasks"></i>
						<p>Roles<i class="right fas fa-angle-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/manageroles']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Manage Roles</p>
							</a>
						</li>
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/addroles']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Add Roles</p>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item has-treeview" *ngIf="this.role =='Super Admin'">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-question-circle"></i>
						<p>FAQs<i class="right fas fa-angle-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/listFaq']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Manage FAQs</p>
							</a>
						</li>
						<li class="nav-item">
							<a [routerLinkActive]="['active']" [routerLink]="['/admin/createFaq']" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Add FAQs</p>
							</a>
						</li>
					</ul>
				</li>

			</ul>
		</nav>
	</div>
</aside>