<div class="content-wrapper">
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Dashboard</h1>
				</div>
			</div>
		</div>
	</div>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-6" *ngIf="roleDataName == 'Super Admin'">
					<div class="small-box bg-info">
						<div class="inner">
							<h3 *ngIf="result">{{this.Registered}}</h3>
							<p>Registered Users</p>
						</div>
						<div class="icon">
							<i class="ion ion-person"></i>
						</div>
						<a [routerLink]="['/admin/manageusers']" class="small-box-footer">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-6"  *ngIf="roleDataName == 'Super Admin' || roleDataName == 'Agent'">
					<div class="small-box bg-success">
						<div class="inner">
							<h3 *ngIf="result">{{this.Comersial}}</h3>
							<p>Commercial Ads</p>
						</div>
						<div class="icon">
							<i class="fas fa-object-group "></i>
						</div>
						<a [routerLink]="['/admin/manageusers']" class="small-box-footer">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-6" *ngIf="roleDataName == 'Super Admin' || roleDataName == 'Agent'">
					<div class="small-box bg-warning color">
						<div class="inner">
							<h3 *ngIf="result">{{this.usercountapp}}</h3>
							<p>User Ads</p>
						</div>
						<div class="icon">
							<i class="fas fa-poll"></i>
						</div>
						<a [routerLink]="['/admin/manageusers']" class="small-box-footer color">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
        </div>

				<div class="col-lg-3 col-6" *ngIf="roleDataName == 'Super Admin' || roleDataName == 'Agent' || roleDataName == 'Support'">
					<div class="small-box bg-danger">
						<div class="inner">
							<h3 *ngIf="result">{{totalTiket}}</h3>
							<p>Total Tickets</p>
						</div>
						<div class="icon">
							<i class="fas fa-ticket-alt"></i>
						</div>
						<a [routerLink]="['/admin/listTicket']" class="small-box-footer">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
        </div>


				<div class="col-lg-3 col-6" *ngIf="roleDataName == 'Super Admin' || roleDataName == 'Agent' || roleDataName == 'Support'">
					<div class="small-box bg-primary">
						<div class="inner">
							<h3 *ngIf="result">{{totalOpenTiket}}</h3>
							<p>Open Tickets</p>
						</div>
						<div class="icon">
							<i class="fas fa-ticket-alt"></i>
						</div>
						<a [routerLink]="['/admin/listTicket']" class="small-box-footer">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
        </div>


				<div class="col-lg-3 col-6" *ngIf="roleDataName == 'Super Admin' || roleDataName == 'Agent' || roleDataName == 'Support'">
					<div class="small-box bg-fuchsia">
						<div class="inner">
							<h3 *ngIf="result">{{totalCloseTiket}}</h3>
							<p>Closed Tickets</p>
						</div>
						<div class="icon">
							<i class="fas fa-ticket-alt"></i>
						</div>
						<a [routerLink]="['/admin/listTicket']" class="small-box-footer">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
