<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Manage Staff</h1>
				</div>
			</div>
		</div>
	</section> 
	<section class="content">   
		<div class="card" *ngIf="staffData && staffData.length > 0; else noRecord">
			<div class="card-body table-responsive p-0">
				<p-table #dt *ngIf="staffData" [value]="staffData" [paginator]="true" [alwaysShowPaginator]="true" [rows]="10" [scrollable]="false" [globalFilterFields]="['email','name']" [totalRecords]="totalRecords" class="table table-head-fixed" >
					<ng-template pTemplate="caption">
						<div style="text-align: right">        
							<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
							<input type="text" pInputText size="50" placeholder=" " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
						</div>
					</ng-template>
					<ng-template pTemplate="header" let-columns>
						<tr>
							<th style="width: 8%">#</th>
							<th style="width: 18%" [pSortableColumn]="'rolename'">
								Name
								<p-sortIcon [field]="'name'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							</th>
							<th style="width: 25%" [pSortableColumn]="'roledesc'">
								Email
								<p-sortIcon [field]="'email'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							</th>
							<!-- <th style="width: 11%" [pSortableColumn]="'gender'">
								Gender
								<p-sortIcon [field]="'gender'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							</th> -->
							<!-- <th style="width: 14%" [pSortableColumn]="'loginType'">
								Login From
								<p-sortIcon [field]="'loginType'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							</th> -->
							<th style="width: 10%">Status</th>
							<th style="width: 22%">Action</th>
						</tr>
					</ng-template>
						<ng-template pTemplate="body" let-rowData let-i="rowIndex">
							<tr>
								<td>{{i+1}}</td>
								<td>{{rowData.name}}</td>
								<td>{{rowData.email}}</td>
								<!-- <td>{{rowData.gender}}</td> -->
								<!-- <td>
									<ng-container *ngIf="rowData.loginType == 1">
											Mobile
									</ng-container>
									<ng-container *ngIf="rowData.loginType == 2">
										Email
									</ng-container>
									<ng-container *ngIf="rowData.loginType == 3">
										FaceBook
									</ng-container>
									
								</td> -->
								<td>
									<ng-container *ngIf="rowData.status == 1; else deactiveStatusText">
											Active
									</ng-container>
									<ng-template #deactiveStatusText>Deactive</ng-template>
								</td> 
								<td>
									<button type="text" (click)=delete_staff(rowData._id);  class="btn btn-grey" title="delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
									<!-- <button type="button" (click)=status_change(rowData._id,rowData.status);  class="btn btn-blue">
										<ng-container *ngIf="rowData.status == 1; else deactiveStatus">
											<i class="fa fa-toggle-off" title="Deactivate User"></i>
										</ng-container>
										<ng-template #deactiveStatus>
											<i class="fa fa-toggle-on" title="Activate User"></i>
										</ng-template>
									</button> -->
									<button type="text" [routerLink]="['/admin/editstaff',rowData._id]"   class="btn btn-grey" title="edit"><i class="fa fa-edit" aria-hidden="true"></i></button>

									
									<!-- <button type="text" [routerLink]="['/admin/viewdetail',rowData._id]"   class="btn btn-grey" title="view"><i class="fa fa-eye" aria-hidden="true"></i></button> -->
									
									
									<!-- <button type="button"  (click)="showDialog(rowData._id)" class="btn btn-blue" title="Suspend User"><i class="fa fa-ban"></i></button>
									<button type="text" [routerLink]="['/admin/viewcharmrdetail',rowData._id]"   class="btn btn-grey" title="view charmrs"><i class="fa fa-paw" aria-hidden="true"></i></button> -->
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
	</section>
</div>
<ng-template #noRecord>No Record Found</ng-template>
 <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="500" height="120"></p-confirmDialog> 
<!--<p-dialog header="Suspend User" [(visible)]="display" [style]="{width: '40%', height: '40%'}">
	<div class="row">
		<div class="col-md-12">
			<div class="login-panel panel panel-default">
				<div class="panel-body">
						<form name="suspendUserform" #suspendUserForm="ngForm">
						<input type="hidden"  name="_id" [(ngModel)]="model._id" #id="ngModel"/>
						<fieldset>
							<div class="form-group">
								<input type="text" class="form-control" name="suspendDays" id="SuspendDays" placeholder="Suspend Days..." [(ngModel)]="model.suspendDays" #suspendDays="ngModel" required number  />
								<div *ngIf="suspendDays.errors && suspendDays.touched">   
									<span class="error" *ngIf="suspendDays.errors?.required">Suspend Days are mandatory.</span>
									<span class="error" *ngIf="suspendDays.errors?.number">Only numbers allowed.</span>
								</div> 
							</div>
							
							
							<button type="button" (click)="suspend_user()" class="btn btn-primary subBut" [disabled]="! suspendUserForm.valid">Suspend User</button>
							
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</p-dialog> -->