<div id="page-wrapper">
	<div class="row">
   	<div class="col-lg-12">
      	<h3 class="page-header">
				<ng-container *ngIf="traitId;else childHeader">Edit Traits</ng-container>
				<ng-template #childHeader>Add Traits</ng-template>
			</h3>
      </div>
   </div>
   <div class="row">
   	<div class="col-md-4 col-md-offset-4">
      	<div class="login-panel panel panel-default">
         	<div class="panel-heading">
            	<h3 class="panel-title">
						<ng-container *ngIf="traitId;else childTitle">Edit Traits</ng-container>
						<ng-template #childTitle>Add Traits</ng-template>
					</h3>
         	</div>
            <div class="panel-body">
            	<form name="addtraitform" (ngSubmit)="add_traits()" #addtraitForm="ngForm">
               	<fieldset>
                  	<div class="form-group">
                     	<input type="text" class="form-control" name="name" id="Name" placeholder="Trait Name ..." [(ngModel)]="model.name" #name="ngModel" required  [maxlength]="50"/>
                     	<div *ngIf="name.errors && name.touched">   
                        	<span class="error" *ngIf="name.errors?.required">Trait Name is mandatory.</span>
                     	</div> 
							</div>
							<ng-container *ngIf="traitId;else childButton">
								<button type="submit" (click)="edit_traits()" class="btn btn-lg btn-success btn-block" [disabled]="! addtraitForm.valid">Edit Trait <i class="fa fa-angle-right"></i></button>
							</ng-container>
							<ng-template #childButton>
								<button type="submit" class="btn btn-lg btn-success btn-block" [disabled]="! addtraitForm.valid">Add Trait <i class="fa fa-angle-right"></i> </button>
							</ng-template>
						</fieldset>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>