<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Manage Traits</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Manage Traits
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<p-table *ngIf="traitData" [columns]="cols" [value]="traitData" [paginator]="true" 
					[rows]="10" [totalRecords]="totalRecords" class="table table-striped table-bordered table-hover" >
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns">
									{{col.header}}
								</th>
							</tr>
					  	</ng-template>
						<ng-template pTemplate="body" let-rowData>
							<tr>
								<td>{{rowData._id}}</td>
								<td>{{rowData.name}}</td>
								<td>{{rowData.status}}</td>
								<td>
									<button type="text" [routerLink]="['/admin/addtraits']" [queryParams]="{ id: rowData._id }" class="btn btn-grey">Edit</button>
									<button type="text" (click)=delete_trait(rowData._id);  class="btn btn-grey">Delete</button>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="500" height="120"></p-confirmDialog>