<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0 text-dark">Reply Ticket</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 offset-1">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Reply Ticket</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <form name="addcategoryform" #addPlanForm="ngForm">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-12">
                                          <label for="subject">Subject</label>
                                          <input type="text" class="form-control" disabled [value]="title" />
                                        </div>
                                        <div class="form-group col-12">
                                          <label for="answer">Answers</label>
                                            <textarea class="form-control m-1" disabled name="content" [(ngModel)]="content"
                                            [style.background]="'#d1dae8'"></textarea>
                                          <ng-container *ngFor="let value of allData.answer;let i = index">
                                            <textarea  class="form-control m-1" disabled placeholder="Message" name="ans{{i}}" [(ngModel)]="value.ans"
                                            [style.background]="value.ischat == '1'? '#6cd5f0' : '#d1dae8'"></textarea>
                                          </ng-container>
                                        </div>
                                        <div class="form-group col-12" *ngIf="allData.ticketStatus == 'open'">
                                            <label for="answer">Message </label>
                                            <textarea class="form-control" [disabled]="" name="ans" placeholder="Message" [(ngModel)]="model.ans"  #ans="ngModel" required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <ng-container *ngIf="allData.ticketStatus == 'open'">
                                        <button type="button" (click)="replyBack()" class="btn btn-primary subBut"
                                            [disabled]="! addPlanForm.valid ">Reply</button>
                                    </ng-container>
                                    <!-- <button type="button" (click)="replyBack()" class="btn btn-primary subBut"
                                        [disabled]="! addPlanForm.valid">Reply</button> -->
                                    <button *ngIf="allData.ticketStatus == 'open'" [routerLink]="['/admin/listTicket']" class="btn btn-default cancelBut"
                                        style="font-weight: bold;float:right;">Cancel</button>
                                        <!-- <button (click)="chkData()">Chk</button> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
