<div class="content-wrapper">
	<section class="content-header">
   	<div class="container-fluid">
      	<div class="row mb-2">
				<div class="col-sm-12">
					<h1 class="m-0 text-dark">Add Ads</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 offset-1">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Add Ads</h3>
						</div>
						<div class="card-body table-responsive p-0">
							<form name="addcategoryform" #addPlanForm="ngForm">
								<div class="card-body">
                  <div class="row">
                    <div class="form-group col-12">
                      <label for="name">Name </label>
                      <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="model.name" #name="ngModel" required  [maxlength]="50"/>

                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-12">
                      <label for="title">Title </label>
                      <input type="text" class="form-control" name="title" placeholder="Title" [(ngModel)]="model.title"  #title="ngModel" required />

                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-12">
                      <label for="price">Price </label>
                      <input type="number" class="form-control" name="price" placeholder="Price" [(ngModel)]="model.price"  #price="ngModel" required />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-12">
                      <h5>Upload Image</h5>
                      <img [src]="upImage"  class="imgView" style="width:100px"/>
                      <p-fileUpload #fubauto mode="basic" name="image[]" [url]="uploadUrl+'imageuploadadverpost'" accept="image/*" maxFileSize="1000000" (onProgress)="uploadProgress()" (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>

                    </div>
                  </div>
                 </div>
                <div class="card-footer">
                  <button type="button" (click)="post_ad()" class="btn btn-primary subBut" [disabled]="! addPlanForm.valid">Add Ad</button>
                  <button [routerLink]="['/admin/listAds']"  class="btn btn-default cancelBut"  style="font-weight: bold;float:right;">Cancel</button>
                </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
