<div class="content-wrapper">
	<section class="content-header">
   	<div class="container-fluid">
      	<div class="row mb-2">
				<div class="col-sm-12">
					<h1 class="m-0 text-dark">Add Post</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 offset-1">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Add Post</h3>
            </div>

						<form name="addcategoryform" #addcategoryForm="ngForm">
              <div class="card-body table-responsive p-0">

                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="Name">Select Category</label>
                        <p-dropdown class="pDropdwon" filterBy="label,value"  [filter]="true" [options]="categories" optionLabel="catname" optionValue="form" (ngModelChange)="getCatValue($event)" [(ngModel)]="model.catname" name="catname"></p-dropdown>
                      </div>
                      <div class="form-group col-6">
                        <label for="Name">Select Customer</label>
                        <p-dropdown class="pDropdwon" filterBy="label,value"  [filter]="true" [options]="userlistData" optionLabel="name" optionValue="_id" [(ngModel)]="model.userId" name="userId"></p-dropdown>
                      </div>
                    </div>
                    <div class="row" *ngIf="items">
                      <div class="col-12" *ngFor="let item of items;let i = index">
                        <ng-container *ngIf="step == i">
                          <div class="row">
                            <ng-container *ngFor="let f of item.field;let j = index">
                              <div class="form-group col-6" *ngIf="f.type.id == 'text' || f.type.id == 'number' || f.type.id == 'tel'">
                                <label [for]="f.name">{{f.name}}</label>
                                <input [type]="f.type.id" class="form-control" name="{{f.name}}{{i}}{{j}}" placeholder="{{f.name}}" [(ngModel)]="f.value" #{{f.name}}="ngModel" [maxlength]="50"/>
                              </div>
                              <div class="form-group col-6"  *ngIf="f.type.id == 'select'">
                                <label [for]="f.name">{{f.name}}</label>
                                <p-dropdown class="pDropdwon" name="{{f.name}}{{i}}{{j}}" filterBy="label,value" [filter]="true" [options]="f.option" [optionLabel]="f.label" [(ngModel)]="f.value" [name]="f.name"></p-dropdown>
                              </div>
                              <div class="form-group col-6"  *ngIf="f.type.id == 'multiselect'">
                                <label [for]="f.name">{{f.name}}</label>
                                <p-multiSelect  class="pDropdwon" name="{{f.name}}{{i}}{{j}}" filterBy="label,value" [filter]="true" [options]="f.option" [optionLabel]="f.label"  [(ngModel)]="f.value" [name]="f.name"></p-multiSelect >
                              </div>
                              <div class="form-group col-12"  *ngIf="f.type.id == 'radio'">
                                <label [for]="f.name">{{f.name}}</label>
                                <p-radioButton *ngFor="let o of f.option" value="{{o.value}}" label="{{o.label}}" [(ngModel)]="f.value" name="{{f.name}}{{i}}{{j}}"></p-radioButton>
                              </div>
                              <div class="form-group col-12"  *ngIf="f.type.id == 'checkbox'">
                                <label [for]="f.name">{{f.name}}</label>
                                <p-checkbox  *ngFor="let o of f.option" value="{{o.value}}" label="{{o.label}}" [(ngModel)]="f.value" name="{{f.name}}{{i}}{{j}}"></p-checkbox >
                              </div>
                              <div class="imageUploadContainer" *ngIf="f.type.id == 'file'">
                                <h5>Upload Image</h5>
                                <img [src]="f.value" *ngIf="f.value != ''" class="imgView" />
                                <img [src]="upImage" *ngIf="f.value == ''" class="imgView" />
                                <p-fileUpload #fubauto mode="basic" name="{{f.name}}{{i}}{{j}}[]" [url]="uploadUrl+'imageuploadadverpost'" accept="image/*" maxFileSize="1000000" (onProgress)="uploadProgress()" (onUpload)="onBasicUploadAuto($event,i,j)" [auto]="true" chooseLabel="Browse"></p-fileUpload>
                              </div>
                              <div class="editorDiv"  *ngIf="f.type.id == 'editor'">
                                <h5>{{f.name}}</h5>
                                <p-editor [(ngModel)]="f.value" name="{{f.name}}{{i}}{{j}}"  [style]="{'height':'320px'}"></p-editor>
                              </div>
                              <div class="form-group col-6"  *ngIf="f.type.id == 'datepicker'">
                                <label [for]="f.name">{{f.name}}</label>
                                <p-calendar [(ngModel)]="f.value" name="{{f.name}}{{i}}{{j}}" [readonlyInput]="true"></p-calendar>
                              </div>
                              <div class="form-group col-6"  *ngIf="f.type.id == 'daterangepicker'">
                                <label [for]="f.name">{{f.name}}</label>
                                <p-calendar [(ngModel)]="f.value" name="{{f.name}}{{i}}{{j}}" selectionMode="range"  [readonlyInput]="true"></p-calendar>
                              </div>
                              <div class="form-group col-6"  *ngIf="f.type.id == 'timepicker'">
                                <label [for]="f.name">{{f.name}}</label>
                                <p-calendar [(ngModel)]="f.value" name="{{f.name}}{{i}}{{j}}" selectionMode="range" [readonlyInput]="true" [timeOnly]="true"></p-calendar>
                              </div>
                              <div class="form-group col-6"  *ngIf="f.type.id == 'datetimepicker'">
                                <label [for]="f.name">{{f.name}}</label>
                                <p-calendar [(ngModel)]="f.value" name="{{f.name}}{{i}}{{j}}" selectionMode="range" [readonlyInput]="true" [showTime]="true"></p-calendar>
                              </div>
                              <div class="form-group col-12" *ngIf="f.type.id == 'textarea'">
                                <label [for]="f.name">{{f.name}}</label>
                                <textarea class="form-control" name="{{f.name}}{{i}}{{j}}" placeholder="{{f.name}}" [(ngModel)]="f.value" #{{f.name}}="ngModel" ></textarea>
                              </div>
                            </ng-container>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="card-footer">
                <button type="button" class="btn btn-info pull-left" (click)="prev()" *ngIf="items && step != 0">Previous</button>
                <button type="button" class="btn btn-info pull-right" (click)="next()" *ngIf="items && step != (items.length -1)">Next</button>
                <button type="button" (click)="add_category()" class="btn btn-primary subBut pull-right" *ngIf="items.length > 0 && step == (items.length -1)" [disabled]="! addcategoryForm.valid">Submit</button>
                <button [routerLink]="['/admin/managecategory']"  class="btn btn-default cancelBut"  style="font-weight: bold;float:right;">Cancel</button>
              </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
