<div class="content-wrapper">
	<section class="content-header">
   	<div class="container-fluid">
      	<div class="row mb-2">
				<div class="col-sm-12">
					<h1 class="m-0 text-dark">Edit FAQ</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 offset-1">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Edit FAQ</h3>
						</div>
						<div class="card-body table-responsive p-0">
							<form name="addcategoryform" #addPlanForm="ngForm">
								<div class="card-body">
                  <div class="row">
                    <div class="form-group col-12">
                      <label for="question">Question </label>
                      <input type="text" class="form-control" name="question" placeholder="Question" [(ngModel)]="model.question" #question="ngModel" required  [maxlength]="50"/>

                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-12">
                      <label for="answer">Answer </label>
                      <textarea class="form-control" name="answer" placeholder="Answer" [(ngModel)]="model.answer"  #answer="ngModel" required ></textarea>

                    </div>
                  </div>
                 </div>
                <div class="card-footer">
                  <button type="button" (click)="edit_faq()" class="btn btn-primary subBut" [disabled]="! addPlanForm.valid">Update FAQ</button>
                  <button [routerLink]="['/admin/listFaq']"  class="btn btn-default cancelBut"  style="font-weight: bold;float:right;">Cancel</button>
                </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
