<div class="answer pt-0 pb-5">
  <div class="container">
    <div class="img-star"></div>
    <div class="img-star-second"></div>
    <div class="hello__content ">
      <h3>Introducing SplitCheck</h3>
      <p>SplitCheck is a <span>social gifting</span> platform that connects shoppers to share the cost of <span>meaningful gifts </span>for each other.</p>

    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="platform__left">
          {{!-- <div class="platform__video">
            <button class="video-play"></button>
            <video id="videoBox" src="images/video.mp4" ></video>
          </div> --}}
          <div class="gift-bigs-img"></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="text-center text-eliminated">
          <p class="text-justify">We have <strong>eliminated the stress</strong> and hassle by giving <span>you the ability to share, give and receive thoughtful</span> gifts. You can create shopping preference, a wishlist registry and shopping groups which your loved ones can buy from and where friends and family can use the platform to share the cost. </p>
        </div>
      </div>
      <div class="we-care-img"></div>
    </div>
    <div class="text-center"><h3>How does it work?</h3></div>
    <div class="row w-100 mt-20">
        <div class="dis-flex">
          <div class="work-div">
            <div class="answer__block">
              <div class="circle_number">1</div>
              <div class="work-title">Create an account</div>
              <p>It is free to create an account on SplitCheck. We will never charge you for our services</p>
            </div>
          </div>
          <div class="work-div">
            <div class="answer__block">
              <div class="circle_number">2</div>
              <div class="work-title">Update shopping preferences</div>
              <p>Get the item you always dreamed about by sharing the cost with others</p>
            </div>
          </div>
          <div class="work-div">
            <div class="answer__block">
              <div class="circle_number">3</div>
              <div class="work-title">Invite family and friends</div>
              <p>You can share the goss, shopping ideas with your friends</p>
            </div>
          </div>
          <div class="work-div">
            <div class="answer__block">
              <div class="circle_number">4</div>
              <div class="work-title">Add items to wishlist</div>
              <p>Add items to your wishlist and let your loved ones pick items from it</p>
            </div>
          </div>
          <div class="work-div">
            <div class="answer__block">
              <div class="circle_number">5</div>
              <div class="work-title">You can keep it secret</div>
              <p>You went to keep it secret, set your shopping preferences like colour, size and invite selected members to search for gifts for you.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
