<div class="answer basic-hashtag pt-5 pb-5">
  <div class="container">
    <div class="text-center">
      <h3>Basic #Hashtag</h3>
      <p class="sub-head">SplitChek Basic Hashtags allows shoppers to search your business<br /> by a HashTg which skips SplitChek's SERP</p>
    </div>
    <div class="row w-100 mt-20 mb-20">
        <div class="col-md-6">
          <img src="../../assets/images/hashtag/Cyber Monday-bro.svg" />
        </div>
        <div class="col-md-6">
          <ul class="eligible-info">
            <li>Your business should be registerd (ex.in Australia, an ABN is required</li>
            <li>Your business should be registerd (ex.in Australia, an ABN is required</li>
            <li>Your business should be registerd (ex.in Australia, an ABN is required</li>
          </ul>
        </div>
    </div>
  </div>
</div>
