<div class="answer bussiness-eligible pt-20 pb-20">
  <div class="container">
    <div class="row w-100 mt-20 mb-20">
        <div class="col-md-6">
          <ul class="eligible-info">
            <li>Your business should be registerd (ex.in Australia, an ABN is required</li>
            <li>Your business should be registerd (ex.in Australia, an ABN is required</li>
            <li>Your business should be registerd (ex.in Australia, an ABN is required</li>
          </ul>
          <h4 class="mt-5">If approed you can sell up to 100 products or seervice for free</h4>
        </div>
        <div class="col-md-6">
          <div class="form-box">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First name</label>
                  <input type="text" class="form-control" placeholder="Enter name here" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Last name</label>
                  <input type="text" class="form-control" placeholder="Enter name here" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Contact number</label>
                  <input type="number" class="form-control" placeholder="Enter contact here" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Target age group</label>
                  <input type="number" class="form-control" placeholder="16-20" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Website</label>
                  <input type="text" class="form-control" placeholder="Enter website here" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group text-center">
                  <button class="btn  btn-blue">
                    Requesst approval
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
