<div class="splitcheck pt-0 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h3>SplitCheck definations</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="split-bod">
          <img src="images/gifter/Ethnic friendship-bro.svg" />
          <p><b>A SolitCheker</b> is someone who loves SplitCheck community and wants to help it grow. They always give the right gifts, never miss important events from their timelines,, help make decisions and are happy to do volunteer work on SplitChek. You can enable or disable or disable this feature in you settings.</p>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="split-bod">
          <img src="images/gifter/Gift-bro.svg" />
          <p><b>A SolitCheker</b> is someone who loves SplitCheck community and wants to help it grow. They always give the right gifts, never miss important events from their timelines,, help make decisions and are happy to do volunteer work on SplitChek. You can enable or disable or disable this feature in you settings.</p>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="split-bod">
          <img src="images/gifter/Catalogue-bro.svg" />
          <p><b>A SolitCheker</b> is someone who loves SplitCheck community and wants to help it grow. They always give the right gifts, never miss important events from their timelines,, help make decisions and are happy to do volunteer work on SplitChek. You can enable or disable or disable this feature in you settings.</p>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="split-bod">
          <img src="images/gifter/Frozen figure-bro.svg" />
          <p><b>A SolitCheker</b> is someone who loves SplitCheck community and wants to help it grow. They always give the right gifts, never miss important events from their timelines,, help make decisions and are happy to do volunteer work on SplitChek. You can enable or disable or disable this feature in you settings.</p>
        </div>
      </div>
    </div>
  </div>
</div>
