<div class="gifts">
  <div class="container">
    <div class="gifts__content">
      <h4 class="fnt-size">We would love to see you on SplitCheck and enjoy social shopping with your family and friends</h4> 
      <p>Join today and receive <span>20% off</span> your first 3 months</p>
      <a class="btn-blue" href="#">Create your free account</a>
    </div>
  </div>
</div>
