<div class="answer pt-10 pb-5">
  <div class="container">
    <div class="text-center"><h3>What SplitCheck can do for your business</h3></div>
    <div class="row w-100 mt-20">
        <div class="dis-flex">
          <div class="work-div">
            <div class="answer__block">
              <div class="circle_number">1</div>
              <div class="work-title">Create an account</div>
              <p>It is free to create an account on SplitCheck. We will never charge you for our services</p>
            </div>
          </div>
          <div class="work-div">
            <div class="answer__block">
              <div class="circle_number">2</div>
              <div class="work-title">Update shopping preferences</div>
              <p>Get the item you always dreamed about by sharing the cost with others</p>
            </div>
          </div>
          <div class="work-div">
            <div class="answer__block">
              <div class="circle_number">3</div>
              <div class="work-title">Invite family and friends</div>
              <p>You can share the goss, shopping ideas with your friends</p>
            </div>
          </div>
          <div class="work-div">
            <div class="answer__block">
              <div class="circle_number">4</div>
              <div class="work-title">Add items to wishlist</div>
              <p>Add items to your wishlist and let your loved ones pick items from it</p>
            </div>
          </div>
          <div class="work-div">
            <div class="answer__block">
              <div class="circle_number">5</div>
              <div class="work-title">You can keep it secret</div>
              <p>You went to keep it secret, set your shopping preferences like colour, size and invite selected members to search for gifts for you.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
