<div class="member gifter-member">
  <div class="container">
    <div class="member__content">
      <h3 class="mb-0">How we source products</h3>
      <p class="source_producrt mt-3">We connect you to <strong>local stores</strong> that provide quality products.</p>
      <p class="source_producrt">We <strong>manually approve </strong>each seller on SplitChek. Sellers must</p>
      <p class="source_producrt">have their businesses registered through their government</p>
      <p class="source_producrt">authority before they can be approved to sell on SplitChek.</p>
    </div>
    <div class="capturImg"></div>
    <div class="qualityProduct"></div>
    <div class="localProduct"></div>
  </div>
</div>
