<div class="member">
  <div class="container">
    <div class="member__content">
      <h3 class="title-h3">Having trouble at checkout, no worries, SplitChek allows you to invite your loved ones to <strong>split the cost</strong> at checkout</h3>
      <div class="address_img"></div>
      <h5 class="title-second-h3">When you buy items on SplitChek, sellers will receive</h5>
      <h5 class="title-second-h3"> your order and ship the goods to your address.</h5>
    </div>
  </div>
</div>