<div class="answer protect-brand pt-0 pb-0">
  <div class="container">
      <div class="row mb-20">
        <div class="col-12">
          <div class="brand-banner ">
            <div class="row">
              <div class="col-md-6">
                <h1>Protect your brand with splitchek hashtag</h1>
                <p>SplitChek Hashtgs are keywords that find your product or service instantly from the SplitChek search engine. When shoppers search using Hashtags, SplitCheck skips the search engine results page (SERP) and takes the shopper <b>straight to your product page.</b> Hashtags can be used within campaigns, stores, prducts and blogs withing SplitChek.</p>
                <p>There are two types of SplitChek keywords, Basic Hashtgs and Reserved Hashtags.</p>
                <button class="btn  btn-blue">
                  Register Hashtag
                </button>
              </div>
              <div class="col-md-6">
                <img src="/images/sell/Product hunt-bro.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
