<div class="answer tradmark-hashtag pt-5 pb-5">
  <div class="container">
    <div class="text-center">
      <h3>SplitChek Hashtag Trademark</h3>
      <p class="sub-head">SplitChek Basic Hashtags allows shoppers to search your business<br /> by a HashTg which skips SplitChek's SERP</p>
    </div>
    <div class="row w-100 mt-5 mb-20">
        <div class="col-md-8 offset-md-2">
          <div class="row mt-5 mb-5">
            <div class="col-3">
              <img src="/images/hashtag/Influencer-bro.svg" />
            </div>
            <div class="col-9">
              <h4>How does the brand exclusivity work?</h4>
              <p>A business pays a fee for 12 months to trademark a keywork. No other stores within SplitChek will be alloweed to use your keyword on SolitChek platforms. We monitor titles, descriptions, tags or long descriptions that may breach your reserved keyword and disallow that store from publishing the offending item.</p>
            </div>
          </div>
          <div class="row mt-5 mb-5">
            <div class="col-3">
              <img src="/images/hashtag/Mail sent-bro.svg" />
            </div>
            <div class="col-9">
              <h4>How does the brand exclusivity work?</h4>
              <p>A business pays a fee for 12 months to trademark a keywork. No other stores within SplitChek will be alloweed to use your keyword on SolitChek platforms. We monitor titles, descriptions, tags or long descriptions that may breach your reserved keyword and disallow that store from publishing the offending item.</p>
            </div>
          </div>
          <div class="row mt-5 mb-5">
            <div class="col-3">
              <img src="/images/hashtag/New message-bro.svg" />
            </div>
            <div class="col-9">
              <h4>How does the brand exclusivity work?</h4>
              <p>A business pays a fee for 12 months to trademark a keywork. No other stores within SplitChek will be alloweed to use your keyword on SolitChek platforms. We monitor titles, descriptions, tags or long descriptions that may breach your reserved keyword and disallow that store from publishing the offending item.</p>
            </div>
          </div>
          <div class="row mt-5 mb-5">
            <div class="col-3">
              <img src="/images/hashtag/Secure data-bro.svg" />
            </div>
            <div class="col-9">
              <h4>How does the brand exclusivity work?</h4>
              <p>A business pays a fee for 12 months to trademark a keywork. No other stores within SplitChek will be alloweed to use your keyword on SolitChek platforms. We monitor titles, descriptions, tags or long descriptions that may breach your reserved keyword and disallow that store from publishing the offending item.</p>
            </div>
          </div>
          <div class="row mt-5 mb-5">
            <div class="col-3">
              <img src="/images/hashtag/Secure data-bro.svg" />
            </div>
            <div class="col-9">
              <h4>How does the brand exclusivity work?</h4>
              <p>A business pays a fee for 12 months to trademark a keywork. No other stores within SplitChek will be alloweed to use your keyword on SolitChek platforms. We monitor titles, descriptions, tags or long descriptions that may breach your reserved keyword and disallow that store from publishing the offending item.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="answer tradmark-hashtag pt-5 pb-5">
  <div class="container">
    <div class="text-center">
      <h3>Other Question</h3>
    </div>
    <div class="row w-100 mt-5 mb-20">
        <div class="col-md-8 offset-md-2">
          <div class="row mt-5 mb-5">
            <div class="col-3">
              <img src="/images/hashtag/A whole year-bro.svg" />
            </div>
            <div class="col-9">
              <h4>How does the brand exclusivity work?</h4>
              <p>A business pays a fee for 12 months to trademark a keywork. No other stores within SplitChek will be alloweed to use your keyword on SolitChek platforms. We monitor titles, descriptions, tags or long descriptions that may breach your reserved keyword and disallow that store from publishing the offending item.</p>
            </div>
          </div>
          <div class="row mt-5 mb-5">
            <div class="col-3">
              <img src="/images/hashtag/Credit card-bro.svg" />
            </div>
            <div class="col-9">
              <h4>How does the brand exclusivity work?</h4>
              <p>A business pays a fee for 12 months to trademark a keywork. No other stores within SplitChek will be alloweed to use your keyword on SolitChek platforms. We monitor titles, descriptions, tags or long descriptions that may breach your reserved keyword and disallow that store from publishing the offending item.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="answer tradmark-hashtag pt-0 pb-5">
  <div class="container">
    <div class="row w-100 mt-5 mb-20">
        <div class="col-md-8 offset-md-2">
          <div class="form-box">
            <div class="text-center">
              <h2>Check Hashtag for availibility</h2>
              <p class="sub-head">We will search our database for matches</p>
            </div>
            <div class="row pt-5 pb-5">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Dove Soap" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group text-center">
                  <button class="btn  btn-blue">
                    Check
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

