<div class="answer why-choose-us pt-5 pb-5">
  <div class="container">
    <div class="text-center"><h3>Why choose us?</h3></div>
    <div class="row w-100 mt-20 mb-20">
        <div class="col-6">
          <img src="images/sell/Online shopping-bro.svg" />
        </div>
        <div class="col-6">
          <p class="choose-us-content">
            <b>Higher quality & lower ompetition</b> - Traditional marketplaces are filled with low-quality products. They force you to sacrifice your quality to compete with the low prices of other sellers.
          </p>
          <p class="choose-us-content">In contrast, we perform regular producct quality checks to make sure that only high-quality merchants continue selling on our platform. That allows us to reduce the competition for our sellers significantly.</p>
        </div>
      </div>
      <div class="row w-100 mt-20">
        <div class="col-6">
          <p class="choose-us-content">
            <b>Higher quality & lower ompetition</b> - Traditional marketplaces are filled with low-quality products. They force you to sacrifice your quality to compete with the low prices of other sellers.
          </p>
          <p class="choose-us-content">In contrast, we perform regular producct quality checks to make sure that only high-quality merchants continue selling on our platform. That allows us to reduce the competition for our sellers significantly.</p>
        </div>
        <div class="col-6">
          <img src="images/sell/Group Chat-bro.svg" />
        </div>
      </div>
      <div class="row w-100 mt-20 mb-20">
        <div class="col-6">
          <img src="images/sell/Savings-bro.svg" />
        </div>
        <div class="col-6">
          <p class="choose-us-content">
            <b>Higher quality & lower ompetition</b> - Traditional marketplaces are filled with low-quality products. They force you to sacrifice your quality to compete with the low prices of other sellers.
          </p>
          <p class="choose-us-content">In contrast, we perform regular producct quality checks to make sure that only high-quality merchants continue selling on our platform. That allows us to reduce the competition for our sellers significantly.</p>
        </div>
      </div>
      <div class="row mt-20 mb-20">
        <div class="col-12">
          <div class="credit-banner ">
            <img class="star-left" src="images/sell/1.svg" />
            <img class="star-right" src="images/sell/2.svg" />
            <h5>We want you to feel at home on splitchek. that's why if you join <br />
            <b>today</b>, you will receive <b>$250 free</b> credit to use on the<br />
             platform!</h5>
          </div>
        </div>
      </div>
  </div>
</div>
