<div class="content-wrapper">
	<section class="content-header">
   	<div class="container-fluid">
      	<div class="row mb-2">
				<div class="col-sm-12">
					<h1 class="m-0 text-dark">Edit Post</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 offset-1">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Edit Post</h3>
            </div>

						<form name="addcategoryform" #addcategoryForm="ngForm">
              <div class="card-body table-responsive p-0">

                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="Name">Title</label>
                        <input class="form-control"  [(ngModel)]="model.productTitle" name="productTitle" required/>
                      </div>
                      <div class="form-group col-6">
                        <label for="image">Image</label>
                        <img *ngIf="model.productImage != ''" [src]="model.productImage" style="width: 60px;padding:0 10px"/><br>
                        <p-fileUpload #fubauto mode="basic" name="productImage[]" [url]="uploadUrl+'imageuploadadverpost'" accept="image/*" maxFileSize="1000000" (onProgress)="uploadProgress()" (onUpload)="onBasicPimage($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>

                      </div>
                    </div>
                    <div class="row">

                      <div class="form-group col-6">
                        <label for="Name">Category</label>
                        <h4>{{model.catname}}</h4>
                      </div>
                      <div class="form-group col-6">
                        <label for="Name">Customer</label>
                        <h4>{{getUser(model.userId)}}</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="latitude">Latitude:  </label>
                        <span id="latitude" ></span>
                      </div>
                      <div class="form-group col-6">
                        <label for="longitude">Longitude:  </label>
                        <span id="longitude" ></span>
                      </div>
                    </div>

                    <div id="map" #map></div>
                    <div class="row" *ngIf="items">
                            <ng-container *ngFor="let f of items;let j = index">
                            <div class="form-group col-6" *ngIf="(f.type.id == 'text' || f.type.id == 'number' || f.type.id == 'tel')">
                              <label [for]="f.name">{{f.name}}</label>

                              <input [type]="f.type.id" class="form-control" name="{{f.name}}{{j}}" placeholder="{{f.name}}" [(ngModel)]="f.value" #{{f.name}}="ngModel" [maxlength]="50" min="0"/>
                            </div>
                            <div class="form-group col-6" *ngIf="(f.type == 'text' || f.type == 'number' || f.type == 'tel' || f.type == 'Input')">
                              <label [for]="f.name" min="0">{{f.name}}</label>

                              <input [type]="f.type" class="form-control" name="{{f.name}}{{j}}" placeholder="{{f.name}}" [(ngModel)]="f.value" #{{f.name}}="ngModel" [maxlength]="50"/>
                            </div>

                            <div class="form-group col-6"  *ngIf="(f.type.id == 'select')||(f.type == 'select')||(f.type == 'Select')">
                              <label [for]="f.name">{{f.name}}</label>
                              <p-dropdown class="pDropdwon" name="{{f.name}}{{j}}" filterBy="label,value" [filter]="true" [options]="f.option" [optionLabel]="f.label" [(ngModel)]="f.value" [name]="f.name" ></p-dropdown>
                            </div>

                            <div class="form-group col-6"  *ngIf="(f.type.id == 'multiselect')||(f.type == 'multiselect')||(f.type == 'Multiselect')">
                              <label [for]="f.name">{{f.name}}</label>
                              <p-multiSelect  class="pDropdwon" name="{{f.name}}{{j}}" filterBy="label,value" [filter]="true" [options]="f.options" [optionLabel]="f.label"  [(ngModel)]="f.value" [name]="f.name"></p-multiSelect >
                            </div>
                            <!-- <div class="form-group col-12"  *ngIf="(f.type.id == 'radio')||(f.type == 'radio')||(f.type == 'Radio')">
                              <label [for]="f.name">{{f.name}}</label>
                              <p-radioButton *ngFor="let o of f.option" value="{{o.value}}" label="{{o.label}}" [(ngModel)]="f.value" name="{{f.name}}{{j}}"></p-radioButton>
                            </div> -->
                            <div class="form-group col-12"  *ngIf="(f.type.id == 'checkbox')||(f.type == 'checkbox')||(f.type == 'Checkbox')">
                              <label [for]="f.name">{{f.name}}</label>
                              <p-checkbox  *ngFor="let o of f.option" value="{{o.value}}" label="{{o.label}}" [(ngModel)]="f.value" name="{{f.name}}{{j}}"></p-checkbox >
                            </div>
                            <div class="imageUploadContainer" *ngIf="((f.type.id == 'file')||(f.type == 'file')||(f.type == 'Imagepicker')) && f.name !== 'Ad images'">
                              <h5>Upload Image</h5>
                              <p>{{f.value}}</p>
                              <p-fileUpload #fubauto mode="basic" name="{{f.name}}{{j}}[]" [url]="uploadUrl+'imageuploadadverpost'" accept="image/*" maxFileSize="1000000" (onProgress)="uploadProgress()" (onUpload)="onBasicUploadAuto($event,j)" [auto]="true" chooseLabel="Browse"></p-fileUpload>
                            </div>
                            <div class="editorDiv"  *ngIf="(f.type.id == 'editor')||(f.type == 'Editor')">
                              <h5>{{f.name}}</h5>
                              <p-editor [(ngModel)]="f.value" name="{{f.name}}{{j}}"  [style]="{'height':'320px'}"></p-editor>
                            </div>
                            <div class="form-group col-6"  *ngIf="(f.type.id == 'datepicker')||(f.type == 'Datepicker')">
                              <label [for]="f.name">{{f.name}}</label>
                              <p-calendar [(ngModel)]="f.value" name="{{f.name}}{{j}}" [readonlyInput]="true"></p-calendar>
                            </div>
                            <div class="form-group col-6"  *ngIf="(f.type.id == 'daterangepicker')||(f.type == 'Daterangepicker')">
                              <label [for]="f.name">{{f.name}}</label>
                              <p-calendar [(ngModel)]="f.value" name="{{f.name}}{{j}}" selectionMode="range"  [readonlyInput]="true"></p-calendar>
                            </div>
                            <!-- <div class="form-group col-6"  *ngIf="(f.type.id == 'timepicker')||(f.type == 'timepicker')||(f.type == 'Timepicker')">
                              <label [for]="f.name">{{f.name}}</label>
                              <p-calendar *ngIf="chkArray(f.value)" [(ngModel)]="f.value[0]" name="{{f.name}}{{j}}" selectionMode="range" [readonlyInput]="true" [timeOnly]="true"></p-calendar>
                            </div> -->
                            <div class="form-group col-6"  *ngIf="(f.type.id == 'datetimepicker')||f.type == 'Datetimepicker'">
                              <label [for]="f.name">{{f.name}}</label>
                              <p-calendar [(ngModel)]="f.value" name="{{f.name}}{{j}}" selectionMode="range" [readonlyInput]="true" [showTime]="true"></p-calendar>
                            </div>
                            <div class="form-group col-12" *ngIf="(f.type.id == 'textarea')||(f.type == 'textarea')||(f.type == 'Textarea')">
                              <label [for]="f.name">{{f.name}}</label>
                              <textarea class="form-control" name="{{f.name}}{{j}}" placeholder="{{f.name}}" [(ngModel)]="f.value" #{{f.name}}="ngModel" ></textarea>
                            </div>
                            <div class="form-group col-12" [class.d-flex]="f?.flex" *ngIf="f.type == 'radio'">
                              <label [for]="f.name" >{{f.name}}</label>
                              <p-radioButton *ngFor="let o of f.option" value="{{o.value}}" label="{{o.label}}" class="pt-1"
                                [(ngModel)]="f.value" name="{{f.name}}{{j}}"></p-radioButton>
                              <ng-container *ngIf="f.value == 'true'">
                                <ng-container *ngFor="let f of f.childs;let j = index">
                                  <ng-container *ngIf="f.type == 'timepicker'">
                                    <label [for]="f.name" class="m-1">{{f.name}}</label>
                                    <p-calendar [(ngModel)]="f.value" name="{{f.name}}{{j}}" [readonlyInput]="true"
                                      [timeOnly]="true"></p-calendar>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </div>
                          </ng-container>
                    </div>
                    <div class="row" >
                      <ng-container *ngFor="let item of imgAd;let i=index;">
                        <div class=" col-4">
                          <h5>Ad image {{i+1}}</h5>
                          <img *ngIf="model.filename != ''" [src]="item.filename"
                          style="width: 60px;padding:0 10px" /><br>
                          <p-fileUpload #fubauto mode="basic" name="addimage{{i}}[]"
                            [url]="uploadUrl+'imageuploadadverpost'" accept="image/*" maxFileSize="1000000"
                            (onProgress)="uploadProgress()" (onUpload)="onBasicUploadAdd($event,i)" [auto]="true"
                            chooseLabel="Browse"></p-fileUpload>
                        </div>
                        <div class="col-2">
                          <p-button label="" icon="pi pi-minus" *ngIf="i !== 0"  styleClass="ui-button-danger" class="removeButtonOption" (onClick)="remAd(i)"></p-button>
                          <p-button label="" icon="pi pi-plus" *ngIf="6 >=i" styleClass="ui-button-info" class="removeButtonOption" (onClick)="addAd()"></p-button>
                        </div>
                      </ng-container>
                    </div>
                  </div>
              </div>

              <div class="card-footer">
                <button type="button" (click)="add_category()" class="btn btn-primary subBut pull-right" [disabled]="! addcategoryForm.valid">Submit</button>
                <button [routerLink]="['/admin/listPost']"  class="btn btn-default cancelBut"  style="font-weight: bold;float:right;">Cancel</button>
              </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
