<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Manage Deals</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Manage Deals
					<button type="text" [routerLink]="['/admin/adddeals']"  class="btn btn-grey" title="Add Deals" style="color:#007AD4;font-weight: bold;float:right;"><i class="fa fa-plus" aria-hidden="true"></i>Add Deal</button>
				</div>
				<div class="panel-body">
					<p-table #dt *ngIf="dealsData" [value]="dealsData" [paginator]="true" 
					[rows]="10" [globalFilterFields]="['rName']" [totalRecords]="totalRecords" class="table table-striped table-bordered table-hover" let i=index;>
						<ng-template pTemplate="caption">
							<div style="text-align: right">        
								<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
								<input type="text" pInputText size="50" placeholder=" " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
							</div>
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th style="width: 4%">Sr No</th>
								<th style="width: 23%" [pSortableColumn]="'title'">
									Restanrant Name
									<p-sortIcon [field]="'title'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
								</th>
								<th style="width: 15%" [pSortableColumn]="'discPer'">
									Offer
									<p-sortIcon [field]="'discPer'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
								</th>
								<th style="width: 30%" [pSortableColumn]="'content'">
									Description
									<p-sortIcon [field]="'content'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
								</th>
								<th style="width: 14%" [pSortableColumn]="'expireOn'">
									Expire On
									<p-sortIcon [field]="'expireOn'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
								</th>
								<th style="width: 8%">Order</th>
								<th style="width: 8%">Status</th>
								<th style="width: 15%">Action</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData let-i="rowIndex">
							<tr>
								<td>{{i+1}}</td>
								<td>{{rowData.rName}}</td>
								<td>{{rowData.discPer}}</td>
								<td>{{rowData.description.substring(0,100)}}.....</td>
								
								<td>
									<ng-container *ngIf="rowData.expireOn;">
										{{rowData.expireOn | date:'mediumDate'}}
									</ng-container>
								</td>
								<td>{{rowData.dealOrder}}</td>
								<td>
									<ng-container *ngIf="rowData.status == 1; else deactiveStatusText">
											Active
									</ng-container>
									<ng-template #deactiveStatusText>Deactive</ng-template>
								</td>
								<td>
									<button type="text" [routerLink]="['/admin/adddeals']" [queryParams]="{ id: rowData._id }" class="btn btn-grey" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
									<button type="text" (click)=delete_deal(rowData._id);  class="btn btn-grey" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
									<button type="text" (click)=status_change(rowData._id,rowData.status);  class="btn btn-grey">
										<ng-container *ngIf="rowData.status == 1; else deactiveStatus">
											Deactivate
										</ng-container>
										<ng-template #deactiveStatus>Activate</ng-template>
									</button>
									<button type="button" (click)="showDialog(rowData._id)" pButton  label="Change Order"></button>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="500" height="120"></p-confirmDialog>

<p-dialog header="Update Deal Order" [(visible)]="display" [style]="{width: '40%', height: '40%'}">
	<div class="row">
		<div class="col-md-12">
			<div class="login-panel panel panel-default">
				<div class="panel-body">
					<form name="updateDealOrderform" (ngSubmit)="update_order()" #updateDealOrderForm="ngForm">
						<input type="hidden"  name="_id" [(ngModel)]="model._id" #id="ngModel"/>
						<fieldset>
							<div class="form-group">
								<input type="text" class="form-control" name="dealOrder" id="DealOrder" placeholder="Deal Order..." [(ngModel)]="model.dealOrder" #dealOrder="ngModel" required number  />
								<div *ngIf="dealOrder.errors && dealOrder.touched">   
									<span class="error" *ngIf="dealOrder.errors?.required">Deal Order is mandatory.</span>
									<span class="error" *ngIf="dealOrder.errors?.number">Only numbers allowed.</span>
								</div> 
							</div>
							<button type="submit" class="btn btn-lg btn-success btn-block" [disabled]="! updateDealOrderForm.valid">Update Deal Order<i class="fa fa-angle-right"></i> 
							</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</p-dialog>