<div class="content-wrapper content-wrapper-table">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Manage Reported Users</h1>
				</div>
			</div>
		</div>
	</section> 
	<section class="content">   
		<div class="card" *ngIf="reportedData.length > 0; else noRecord">
			<div class="card-body table-responsive p-0">
				<p-table #dt *ngIf="reportedData" [value]="reportedData" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10" [globalFilterFields]="['email']" [totalRecords]="totalRecords" [alwaysShowPaginator]="false" class="table table-striped table-bordered table-hover" let i=index;>
					<ng-template pTemplate="caption">
						<div style="text-align: right">        
							<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
							<input type="text" pInputText size="50" placeholder=" " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
						</div>
					</ng-template>
					<ng-template pTemplate="header" let-columns>
						<tr>
							<th style="width: 4%">Sr No</th>
							<th style="width: 20%" [pSortableColumn]="'title'">
								Invited By
								<p-sortIcon [field]="'title'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							</th>
							<th style="width: 9%" [pSortableColumn]="'discPer'">
								Invited To
								<p-sortIcon [field]="'discPer'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-rowData let-i="rowIndex">
						<tr>
							<td>{{i+1}}</td>
							<td>{{rowData.email}}</td>
							<td>{{rowData.invitedUsers.invitedEmail}}</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</div>
	</section>
</div>

<ng-template #noRecord>No Record Found</ng-template>
