<div class="content-wrapper">
	<section class="content-header">
   	<div class="container-fluid">
      	<div class="row mb-2">
				<div class="col-sm-12">
					<h1 class="m-0 text-dark">Add Post Form</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 offset-1">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Add Form</h3>
						</div>
            <form name="addcategoryform"  #addcategoryForm="ngForm">
						<div class="card-body table-responsive p-0">
                <div class="card-body">
                  <div class="form-group">
                    <label for="Name">Form Title </label>
                    <input type="text" class="form-control" name="form_name" id="form_name" placeholder="Form Title" [(ngModel)]="model.form_name" #form_name="ngModel" required  [maxlength]="50"/>
                    <div *ngIf="form_name.errors && form_name.touched">
                      <span class="error" *ngIf="form_name.errors?.required">Title is mandatory.</span>
                    </div>
                  </div>
                  <p-fieldset *ngFor="let s of step;let j = index" legend="Step {{j+1}}">
                    <p-fieldset *ngFor="let f of s.field;let i=index"  legend="Field {{i+1}}">
                      <div class="row">
                        <div class="form-group col-4">
                          <label for="Name">Name</label>
                          <input type="text" class="form-control" name="name_{{j}}{{i}}"  placeholder="Field Name" [(ngModel)]="f.name" #name="ngModel" required  [maxlength]="50"/>
                        </div>
                        <div class="form-group col-4">
                          <label for="Name">Type</label>
                          <p-dropdown class="pDropdwon" name="type_{{j}}{{i}}" filterBy="label,value" (ngModelChange)="showOption(j,i,$event)"  [filter]="true" [options]="typeItem" optionLabel="value" optionValue="id" [(ngModel)]="f.type" name="type"></p-dropdown>
                        </div>
                        <div class="form-group col-4">
                          <label for="Name">Icon</label>
                          <input type="text" class="form-control" name="icon_{{j}}{{i}}"  placeholder="Ex. fa-check" [(ngModel)]="f.icon" #icon="ngModel"/>
                        </div>
                      </div>
                      <p-fieldset *ngIf="f.optionShow" legend="Options {{j}}{{i+1}}">
                        <div class="row" *ngFor="let o of f.option;let ix=index"  >
                          <div class="form-group col-5">
                            <label for="Name">Option label</label>
                            <input type="text" class="form-control" name="label_{{j}}{{i}}{{ix}}" placeholder="Label" [(ngModel)]="o.label" #label="ngModel" [maxlength]="50"/>
                          </div>
                          <div class="form-group col-5">
                            <label for="Name">Option Value</label>
                            <input type="text" class="form-control" name="value_{{j}}{{i}}{{ix}}" placeholder="Value" [(ngModel)]="o.value" #value="ngModel" [maxlength]="50"/>
                          </div>
                          <div class="form-group col-1">
                            <p-button label="" icon="pi pi-minus"  styleClass="ui-button-danger" class="removeButtonOption" (onClick)="removeOptions(j,i,ix)"></p-button>
                          </div>
                          <div class="form-group col-1">
                            <p-button label="" icon="pi pi-plus" styleClass="ui-button-info" class="removeButtonOption" (onClick)="addOptions(j,i,ix)"></p-button>
                          </div>
                        </div>
                      </p-fieldset><br />
                      <p-button label="Remove Field" *ngIf="i!=0" styleClass="ui-button-danger" icon="pi pi-minus" (onClick)="RemoveField(j,i)"></p-button>
                    </p-fieldset>
                    <br>
                    <p-button label="Add Field" icon="pi pi-plus" (onClick)="AddField(j)"></p-button><br>
                    <p-button label="Remove Step" icon="pi pi-minus" *ngIf="j!=0" styleClass="ui-button-danger" class="removeButtonOption" (onClick)="removeStep(j)"></p-button>
                  </p-fieldset>
                  <br>
									<p-button label="Add Step" icon="pi pi-plus" (onClick)="AddStep()"></p-button>
                  <br>
								</div>
            </div>

            <div class="card-footer">
              <button type="button" (click)="add_form()" class="btn btn-primary subBut" [disabled]="! addcategoryForm.valid">Add Form</button>
              <button [routerLink]="['/admin/listForm']"  class="btn btn-default cancelBut"  style="font-weight: bold;float:right;">Cancel</button>
            </div>
          </form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

