<div id="page-wrapper">
	<div class="row">
   	<div class="col-lg-12">
      	<h3 class="page-header">
				<ng-container *ngIf="pageId;else childHeader">Edit Pages</ng-container>
				<ng-template #childHeader>Add Pages</ng-template>
			</h3>
      </div>
   </div>
   <div class="row">
   	<div class="col-md-8 col-md-offset-2">
      	<div class="login-panel panel panel-default">
         	<div class="panel-heading">
            	<h3 class="panel-title">
						<ng-container *ngIf="pageId;else childTitle">Edit Pages</ng-container>
						<ng-template #childTitle>Add Pages</ng-template>
					</h3>
         	</div>
            <div class="panel-body">
            	<form name="addpageform" (ngSubmit)="add_page()" #addpageForm="ngForm">
							<input type="hidden"  name="id" [(ngModel)]="model.id" #id="ngModel"/>
               	<fieldset>
                  	<div class="form-group">
                     	<input type="text" class="form-control" name="title" id="Title" placeholder="Page Title ..." [(ngModel)]="model.title" #title="ngModel" required  [maxlength]="50"/>
                     	<div *ngIf="title.errors && title.touched">   
                        	<span class="error" *ngIf="title.errors?.required">Page Name is mandatory.</span>
                     	</div> 
							</div>
							<div class="form-group">
                     	<input type="text" class="form-control" name="link" id="Link" placeholder="Page Link ..." [(ngModel)]="model.link" #link="ngModel" required  [maxlength]="50"/>
                     	<div *ngIf="link.errors && link.touched">   
                        	<span class="error" *ngIf="link.errors?.required">Page Link is mandatory.</span>
                     	</div> 
							</div>
							<div class="form-group">
								<!--<input type="text" class="form-control" name="content" id="Content" placeholder="Page Content ..." [(ngModel)]="model.content" #content="ngModel" required  [maxlength]="50"/>-->
								<!-- <textarea class="form-control" name="content" id="Content" [(ngModel)]="model.content" #content="ngModel" required rows="10" cols="70" >           </textarea> -->
								<!-- <p-editor name="content" id="Content" [(ngModel)]="model.content" #content="ngModel" required [style]="{'height':'20px'}"></p-editor>-->
 								<ckeditor
 									name="content"
 									id="Content"
 									[(ngModel)]="model.content"
 									#content="ngModel"
 									[config]="{uiColor: '#669ED8'}"
 									[readonly]="false"
 									debounce="500">
								</ckeditor>
								<div *ngIf="content.errors && content.touched">   
                        	<span class="error" *ngIf="content.errors?.required">Page Content is mandatory.</span>
                     	</div> 
							</div>
							<ng-container *ngIf="pageId;else childButton">
								<button type="button" (click)="add_page()" class="btn btn-lg btn-success btn-block" [disabled]="! addpageForm.valid">Edit Page <i class="fa fa-angle-right"></i></button>
							</ng-container>
							<ng-template #childButton>
								<button type="button" (click)="add_page()" class="btn btn-lg btn-success btn-block" [disabled]="! addpageForm.valid">Add Page <i class="fa fa-angle-right"></i> </button>

								
							</ng-template>
							<button [routerLink]="['/admin/managepages']"  class="btn btn-lg btn-success btn-block"  style="font-weight: bold;float:right;">Cancel</button>
						</fieldset>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>