/* You can add global styles to this file, and also import other style files */
p-dropdown {
  width: 100%;
  display: block;
}
.ui-widget {
  width: 100% !important;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
  color: #ffffff;
  background-color: #4391ea;
}
