<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
  <div class="section-blur promo-visible">
   <div class="answer selling-split">
      <div class="container">
        <div class="row w-100">
            <div class="col-md-6">
              <ul class="eligible-info">
                <li>Your business should be registerd (ex.in Australia, an ABN is required</li>
                <li>Your business should be registerd (ex.in Australia, an ABN is required</li>
                <li>Your business should be registerd (ex.in Australia, an ABN is required</li>
              </ul>
              <h4 class="mt-5">If approed you can sell up to 100 products or seervice for free</h4>
            </div>
            <div class="col-md-6">
              <div class="form-box">
                <div class="text-center">
                  <h4>Request Send</h4>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <img src="images/selling/Confirmed-bro.svg" />
                  </div>
                  <div class="col-md-6"><br /><br />
                    <p>Thank you for your interest in selling on SplitChek. One of our business managers will contact you <b>within two days.</b></p>
                  </div>
                </div>
                <div class="row pb-5 pt-5">
                  <div class="col-md-12">
                    <div class="text-center">
                      <p>While you wait, learn how selling on SplitChek works.</p>
                    </div>
                    <div class="form-group text-center">
                      <button class="btn  btn-blue">
                        How it works
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>
  {{> ../common/modal }}
</body>
</html>
