<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Manage Feedbacks</h1>
				</div>
			</div>
		</div>
	</section> 
	<section class="content">   
		<div class="card" *ngIf="feedbackData && feedbackData.length > 0; else noRecord">
			<div class="card-body table-responsive p-0">
				<p-table #dt *ngIf="feedbackData" [value]="feedbackData" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10" [scrollable]="false" [globalFilterFields]="['email','name']" [totalRecords]="totalRecords" class="table table-head-fixed" >
					<ng-template pTemplate="caption">
						<div style="text-align: right">        
							<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
							<input type="text" pInputText size="50" placeholder=" " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
						</div>
					</ng-template>
					<ng-template pTemplate="header" let-columns>
						<tr>
							<th style="width: 8%">#</th>
							<th style="width: 18%" [pSortableColumn]="'name'">
								Name
								<p-sortIcon [field]="'name'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							</th>
							<th style="width: 20%" [pSortableColumn]="'email'">
								Email
								<p-sortIcon [field]="'email'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							</th>
							<th style="width: 20%" [pSortableColumn]="'feedback.comments'">
								Comments
							</th>
							<th style="width: 15%" [pSortableColumn]="'satisfied'">
								Satisfied
							</th>
							<th style="width: 20%">Improved</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-rowData let-i="rowIndex">
						<tr>
							<td>{{i+1}}</td>
							<td>{{rowData.name}}</td>
							<td>{{rowData.email}}</td>
							<td>{{rowData.feedback.comments}}</td>
							<td>{{rowData.feedback.satisfied}}</td>
							<td>
								<ng-container *ngIf="rowData && rowData.feedback.improved">
									<ng-container *ngFor="let item of rowData.feedback.improved; let i = index">
										{{i+1}}. {{item}}
									</ng-container>
								</ng-container>
							</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</div>
	</section>
</div>
<ng-template #noRecord>No Record Found</ng-template>